body{
    width: 800px;
    margin: auto;
    background-color: lightgrey;
}

div#copyright{
    font-size: 12px;
    text-align: center;
}

div#shopping-cart{
    position: fixed;
    top: 1em;
    right: 1em;
    /* border: 3px black; */
}

div.product{
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5em;
    margin: .5em;
    overflow: hidden;
}

div.product > img{
    float: left;
}

div.buy, div.price{
    position: absolute;
    right: 1em;
}

div.buy{ /* div.product > div.buy */
    top: 1em;
    /* border: 1px solid black; */
}

div.price{
    bottom: 1em;
    /* border: 1px solid black; */
}

img{
    margin-right: .5em;
}