body{
    width: 800px;
    margin: auto;
    background-image: linear-gradient(to right,red, yellow);
}

div#copyright{
    font-size: 14px;
    text-align: center;
    margin-bottom: 1em;
}

div#shopping-cart{
    position: fixed;
    top: 1em;
    right: 1em;
    /* border: 3px black; */
}

div.product{
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5em;
    margin: .5em;
    overflow: hidden;
    background-color: white;
}

div.product > img{
    float: left;
}

div.buy, div.price{
    position: absolute;
    right: 1em;
}

div.buy{ /* div.product > div.buy */
    top: 1em;
    /* border: 1px solid black; */
}

div.price{
    bottom: 1em;
    /* border: 1px solid black; */
}

img{
    margin-right: .5em;
}

div.display-product > h2{
    margin-bottom: 0px;
}

div.display-product > h3{
    margin: 0px;
}

div.display-product > p{
    margin-top: 0px;
}